name: Deploy to Azure VM

on:
  push:
    branches:
      - dev
      - ngnix

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}   
          script: |
            cd infra-microservices-2025
            docker compose -f docker-compose.dev.yml stop
            git pull
            docker compose -f docker-compose.dev.yml up -d --build

